.acilisEkrani{
        background-color: #fff;
        position: fixed;
        z-index: 2147483647;
        width: 100%;
        height: 100%;
        
}
#gifEkran {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1.0E+29;
}
#durum {
    background-image: url(resimler/okuoku.gif);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
}
.durum {
    font-size: 12px;
    color: #fff;
    font-weight: bolder;
    padding: 3px;
}

.enUstFoto {
   background-image: url(resimler/small-1041.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 60px;
   width: 100%;
   position: relative;
   overflow: hidden;
   transition: height 0.5s;
}

.enUstFoto:hover {
   background-image: url(resimler/1041.jpg);
   height: 200px;
}
.enUstFoto .fotoKapat {
   cursor: pointer;
   position: absolute;
   right: 20px;
   top: calc(50% - 12px);
   background-color: rgba(136,136,136,.5);
   border-radius: 50%;
   width: 29px;
   height: 29px;
   font-size: 20px;
   color: #fff;
   text-align: center;
   display: block !important;
}

.fa-times:hover {
   color: red;
}
.kapsul{
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-orient: horizontal;    
}
/* .oklar{
   display: -webkit-box;
   -webkit-box-pack: justify;
   -webkit-box-orient: horizontal;   
} */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.solOk{
   color: yellow;
}
.sagOk{
   color: yellow;
}
.logoalt {
    padding-top: 18px;
}
.logo {
    margin-top: 10px;
}

.enUstBaslik {
   background-position: 0 center;
   padding-bottom: 18px;
   width: 100%;
   background-size: cover;
   background: #f6f6f6;
}

   .enUstBaslik .baslik-genel {
       font-size: 12px;
       padding-top: 10px;
       padding-bottom: 12px;
   }

       .enUstBaslik .baslik-genel , .enUstBaslik .baslik-genel {
           line-height: 2;
       }

           .enUstBaslik .baslik-genel  a {
               color: #7c7c7c;
               margin-right: 15px;
           }

           .enUstBaslik .baslik-genel  ul li {
               float: left;
           }

       .enUstBaslik .baslik-genel  {
           text-align: right;
       }

           .enUstBaslik .baslik-genel  a {
               color: #febf00;
           }

   .enUstBaslik .orta .arama {
       padding-left: 10px;
       padding-right: 10px;
       margin: 0 auto;
   }
   .enUstBaslik .orta .arama input[type=search] {
      width: calc(100% - 53px);
      padding-left: 15px;
      padding-right: 15px;
      -webkit-transition: all .3s;
      transition: all .3s;
  }
  
  .enUstBaslik .orta .arama select {
      width: 29%;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #febf00;
      color: #fff;
      text-transform: uppercase;
      position: relative;
  }
  
  .enUstBaslik .orta .arama .send {
      width: 53px;
      background-color: #febf00;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      top: 2px;
      cursor: pointer;
  }
  
      .enUstBaslik .orta .arama .send i {
          padding-top: 8px;
          font-size: 1.5em;
      }
  
  .enUstBaslik .orta .arama .send, .enUstBaslik .orta .arama input[type=search], .enUstBaslik .orta .arama select {
      height: 42px;
      display: inline-block;
      margin-left: 0;
      border: 2px solid #fdcb32;
      border-radius: 2px;
      margin-right: -6px;
  }
  
  .enUstBaslik .orta .specific-pages {
      text-align: right;
  }
  
  .enUstBaslik .orta .arama input[type=search]:focus {
      outline-width: 0;
  }
  
  .enUstBaslik .orta .ozellik, .enUstBaslik .orta .sepet {
      cursor: pointer;
      display: inline-block;
      position: relative;
  }
  
      .enUstBaslik .orta .ozellik strong, .enUstBaslik .orta .sepet strong {
          color: #febf00;
      }
  
      .enUstBaslik .orta .ozellik p, .enUstBaslik .orta .sepet p {
          font-size: 11px;
          color: #a9a9a9;
      }
  
      .enUstBaslik .orta .ozellik:before, .enUstBaslik .orta .sepet:before {
          content: "";
          width: 8px;
          height: 81px;
          position: absolute;
          left: -21px;
          top: -21px;
          background: url(./resimler/menu-shadow.png) center center no-repeat;
      }
      .enUstBaslik .orta .ozellik .fa, .enUstBaslik .orta .sepet .fa {
         -webkit-transition: color .3s;
         transition: color .3s;
     }
     
     .enUstBaslik .orta .ozellik:hover .fa, .enUstBaslik .orta .sepet:hover .fa {
         color: #f6ca44;
     }
     
     .enUstBaslik .orta .ozellik i, .enUstBaslik .orta .sepet i {
         font-size: 2.8em;
         color: #fedf80;
         float: left;
         padding-right: 11px;
     }
     
     .enUstBaslik .orta .ozellik .girisYapYazisi, .enUstBaslik .orta .sepet .girisYapYazisi {
         text-transform: uppercase;
         font-size: 15px;
         color: #484848;
     }
     
     .enUstBaslik .orta .sepet {
         text-align: left;
         margin-top: 20px;
     }
     
     .enUstBaslik .orta .ozellik {
         margin-top: 20px;
     }
     
     .enUstBaslik.top-sticky {
         background: #fff;
         border-bottom: 1px solid #ccc;
         box-shadow: 0 0 10px 2px #ccc;
         position: fixed;
         top: -3px;
         width: 100%;
         z-index: 99999;
         padding-top: 20px;
         height: 110px;
     }

     body {
        border-top: 3px solid #febf00;
        font-family: Roboto,Helvetica,Arial,sans-serif !important;
        background-color: #f6f6f6;
    }

.govdeKitap {
    padding-bottom: 20px;
}
.govdeKitap .rating {
    margin-left: 7px;
    margin-top: -10px;
}
.govdeKitap .govdeKitapIcerik {
    border-top: 1px solid #f6f6f6;
    margin-top: 1px;
}
.kitapIcerik, .govdeKitap .kitapIcerik {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.govdeKitap .kitapCerceve {
    margin-top: 10px;
}
.kitaplar .kitapCerceve, .govdeKitap .kitapCerceve {
    text-align: center;
}

    .kitaplar .kitapCerceve .kitapIcerik, .govdeKitap .kitapCerceve .kitapIcerik {
        border-radius: 7px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 2px solid transparent;
        -webkit-transition: border .3s;
        transition: border .3s;
    }

        .kitaplar .kitapCerceve .kitapIcerik:hover, .govdeKitap .kitapCerceve .kitapIcerik:hover {
            border-color: #febf00;
        }

        .kitaplar .kitapCerceve .kitapIcerik .p-brand, .govdeKitap .kitapCerceve .kitapIcerik .p-brand {
            color: #6c6c6c;
        }

        .kitaplar .kitapCerceve .kitapIcerik .yeniFiyat, .govdeKitap .kitapCerceve .kitapIcerik .yeniFiyat {
            color: #ff7100;
            font-weight: 700;
            font-size: 18px;
        }

        .kitapIcerik .yuzde {
            font-size: 14px;
            height: 40px;
            width: 40px;
            background-color: #fff;
            color: #6e7da5;
            float: left;
            position: relative;
            left: 15px;
            top: -6px;
            font-weight: 700;
        }
        
            .kitapIcerik .yuzde span {
                display: block;
                font-size: 10px;
            }

            
            .top-eksi {
                margin-top: -10px;
            }
            .eski-fiyat {
                color: #A8A8A8;
                text-decoration: line-through;
                font-size: 15px;
                padding: 30px;
            }

            .mx {

                max-width: 145px;
            
                max-height: 220px;
            
                height: auto;
            
                width: auto;
            
                margin: 0 auto;
            
            }
            
            .mx2 {
                max-width: 97px;
            }            
.anaMenu{
   background-color: #fff;
   
}
.anaMenu li, .anaMenu ul li {
   position: relative;
}
.anaMenu ul li ul {
   position: absolute;
   background-color: #fff;
   z-index: 9;
   border: 1px solid #ccc;
   width: 200px;
   display: none;
}

   .anaMenu ul li ul li a {
       padding-top: 2px;
       padding-bottom: 2px;
       display: block;
       min-width: 200px;
   }

.anaMenu ul li:last-child:after, .section-popular-categories .kitapIcerik ul li:last-child:after {
   display: none;
}

.anaMenu ul li:after {
   width: 9px;
   height: 44px;
   content: "";
   position: absolute;
   bottom: -3px;
   right: 0;
   background: url(./resimler/menu-stripe.png) center bottom no-repeat;
}
li, ul {
    list-style: none;
    padding-left: 0;
}
.anaMenu ul li {
float: left;
}

.anaMenu ul li .fa {
   font-size: 19px;
   margin-top: -10px;
   color: #ccc;
   position: relative;
   top: 2px;
}

.anaMenu ul li a {
   color: #7c7c7c;
}

   .anaMenu ul li a .fa {
       -wekbit-transition: color .3s;
       transition: color .3s;
   }

   .anaMenu ul li a:hover, .anaMenu ul li a:hover .fa {
       color: #000;
   }

   .oyYildiz .oy-Sembol {
    height: 24px;
}

    .oyYildiz .oy-Sembol a {
        background: url(./resimler/star.png);
        width: 24px;
        height: 24px;
        display: block;
        float: left;
    }

        .oyYildiz .oy-Sembol a:hover {
            cursor: default;
        }

        .oyYildiz .oy-Sembol a.oy-Verilmis, .oyYildiz .oy-Sembol a.oy-Secilen {
            background-position: 0 24px;
            cursor: pointer;
        }

.cokSatanlar{
   display: -webkit-box;
   -webkit-box-pack: start;
   -webkit-box-orient: horizontal;    
   color: dodgerblue;
}
.cokSatanlar hr{
   color: black;
}
.cocukResmi{
  
   margin-top: 5%;
   margin-bottom: 5%;
  
}
.cocukResmi:hover{
   opacity: 0.5;  /* blur */ 
   transition: 500ms;
}
#ulProductsGroupId1Top10 .siralamaliYer {
    float: none;
    margin: 0 auto;
    width: 97px;
    height: 160px;
}

    #ulProductsGroupId1Top10 .siralamaliYer .ustuneGelince {
        bottom: 5px;
        height: 170px;
    }

#ulProductsGroupId1Top10 .owl-wrapper-outer {
    margin-top: 30px;
}

.siralamaliYer {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 8px;
    position: relative;
}

    .siralamaliYer .icerik, .siralamaliYer .ustuneGelince {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        left: 0;
        z-index: 9999;
        height: 100%;
        width: 100%;
    }

    .siralamaliYer h2, .siralamaliYer img, .siralamaliYer p {
        position: relative;
    }

    .siralamaliYer img {
        display: block;
    }

    .siralamaliYer h2 {
        color: #fff;
        font-size: 17px;
        margin: 20px 0 0;
    }

    .siralamaliYer p {
        font-size: 12px;
        color: #fff;
        padding: 10px 20px 20px;
    }

    .siralamaliYer a.info {
        display: inline-block;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        -webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
        box-shadow: 0 0 1px #000;
    }

        .siralamaliYer a.info:hover {
            -webkit-box-shadow: 0 0 5px #000;
            -moz-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
        }

.siraliKitaplar .ustuneGelince {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 6px;
}

.siraliKitaplar h2, .siraliKitaplar p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}

.siraliKitaplar h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.siraliKitaplar p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    filter: alpha(opacity=0);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.siraliKitaplar a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.siraliKitaplar:hover .ustuneGelince {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.siraliKitaplar:hover a.info, .siraliKitaplar:hover h2, .siraliKitaplar:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.siraliKitaplar:hover p {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
    -ms-transition-delay: .1s;
    transition-delay: .1s;
}

.siraliKitaplar:hover a.info {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    -ms-transition-delay: .2s;
    transition-delay: .2s;
}
.sagKisimm {
    margin-bottom: 20px;
    overflow: hidden;
}

.sagKisimm img {
    max-width: 100%;

}
.sagKisim2 {
    position: relative;
    display: block;
    border: none;
}
.sagKisimm img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.sagKisimm:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}


.sagKisimFoto {
    max-width: 262px;
}

.col-md-push-9 .sagKisimFoto {
    margin-top: 30px;
}

.kitapUstGorunum {
    position: absolute;
    bottom: 0;
}

    .kitapUstGorunum:after {
        position: absolute;
        background: url(./resimler/kitap-bg2.png) left top no-repeat;
        content: "";
        top: 0;
        height: 100%;
        z-index: 91;
        width: 100%;
        left: 0;
    }

.bilgi-altbilgi {
    text-transform: capitalize;
}

    .bilgi-altbilgi .arac-basligi {
        margin-bottom: 11px;
        margin-left: 15px;
    }

    .bilgi-altbilgi ul li a {
        padding-left: 15px;
    }

    .bilgi-altbilgi ul li:oncesi {
        content: "• ";
        font-size: 15px;
        color: #fff;
    }

.alt-altbilgi {
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f2f2f2;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}


.alt-altbilgi ul li {
    float: left;
}

.alt-altbilgi .hizli-erisim {
    margin-top: 38px;
}

    .alt-altbilgi .hizli-erisim li {
        margin-right: 30px;
    }

.alt-altbilgi .sosyal-butonlar {
    text-align: center;
}

    .alt-altbilgi .sosyal-butonlar h4 {
        font-weight: 300;
    }

    .alt-altbilgi .sosyal-butonlar{
        margin-left: 16%;
    }

        .alt-altbilgi .sosyal-butonlar ul li {
            margin-left: 5px;
        }

            .alt-altbilgi .sosyal-butonlar ul li a {
                -webkit-transition: transform .4s;
                transition: transform .4s;
            }

                .alt-altbilgi .sosyal-butonlar ul li a:hover {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }

.alt-altbilgi .fa {
    font-size: 1.7em;
    vertical-align: middle;
    margin-right: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-top: 2px solid #ffd304;
    border-bottom-color: transparent;
    color: #333;
    border-left: 0;
    top: -10px;
    border-right-color: #eee;
    
}
.tikladik{
    border-top: 2px solid #ffd304;
    border-bottom-color: transparent;
    color: #333;
    border-left: 0;
    top: -10px;
    border-right-color: #eee;
    background-color: #fff;
    font-size: 14px;
}
.tiklanmadanOnce{
    border-top: 2px solid #ffd304;
    color: #333;
    border-radius: 0;
}

.nav-tabs > li > a {
    border-top: 2px solid #ffd304;
    color: #333;
    border-radius: 0;
}

.nav-tabs {
    border-bottom: 0;
}

    .nav-tabs > li > a:hover {
        border-top-color: #ffd304;
        background-color: #fff;
        border-bottom: 0;
    }




.cakSatanlarBolum a:hover, .ilhamBolum a:hover, .bolumPopulerKategoriler a:hover, .cikintiBlogu a:hover, .top-header .ortaAlan .bireysel:hover, .top-header .ortaAlan .alisverisSepeti:hover, a {
    text-decoration: none;
}

.aramaListesi li, .anaFont, .cakSatanlarBolum .bracket {
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

.cakSatanlarBolum, .ilhamBolum, .bolumAnaUrunler, .bolumPopulerKategoriler, .top-banner {
    margin-top: 5px;
}

.cakSatanlarBolum ul {
    margin-bottom: 0;
    padding-left: 15px;
    margin-top: 30px;
}

.cakSatanlarBolum li {
    height: 170px;
}

.cakSatanlarBolum .bolumBasligi {
    background: url(./resimler/separator.png) right center no-repeat;
}

	.cakSatanlarBolum .bolumBasligi span {
        background-color: #f6f6f6;
        padding-right: 25px;
		}

	
.cakSatanlarBolum ul li {
    text-align: center;
    float: left;
    margin-left: 10px;
    width: 100px;
}

.cakSatanlarBolum .bracket {
    width: 40px;
    height: 43px;
    background: url(./resimler/strip.png) center center no-repeat;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    margin: auto;
    position: relative;
    top: -5px;
    text-align: center;
}

.cakSatanlarBolum .bracket-outer {
    width: 40px;
    height: 43px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: 5px;
}

.cakSatanlarBolum ul li a .bracket, .cakSatanlarBolum ul li a .bracket-outer {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.cakSatanlarBolum ul li a:hover .bracket-outer {
    -webkit-perspective: 150px;
    perspective: 150px;
    bottom: -28px;
}

.cakSatanlarBolum ul li a:hover .bracket {
    -webkit-transform: rotateX(55deg);
    transform: rotateX(55deg);
}

.cakSatanlarBolum a {
    position: relative;
    top: 5px;
}

.cakSatanlarBolum a {
    position: relative;
    top: 5px;
}

.bolumBasligi {
    color: #4e4e4e;
    text-transform: capitalize;
    font-weight: 300;
}

.permalink, .ilhamBolum .permalink, .cakSatanlarBolum .permalink, .cikintiBlogu .permalink {
    text-align: right;
    margin-top: 30px;
    text-transform: capitalize;
}

.ilhamBolum .ayirici, .ayirici2, .cikintiBlogu .ayirici {
    height: 19px;
    background: url(./resimler/separator.png) center center repeat-x;
}

.ilhamBolum .permalink .u-url, .cikintiBlogu .permalink .u-url {
    color: #cdcdcd;
}
 
	.ilhamBolum .permalink .u-url:hover, .cikintiBlogu .permalink .u-url:hover {
        color: #303030;
    }
	
.ilhamBolum .ayirici, .cikintiBlogu .ayirici {
    width: 100%;
    margin-bottom: 20px;
}

.pr {
    bottom: -18px;
}
.yildizlar {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 15px;
}
.ekbar{
    margin: 20px 0 30px;
    background-color: #fff;
    width: 100%;
}
.resimWrap {
    display: inline-block;
    position: relative;
    padding-top: 8px;
}

    .resimWrap:after {
        position: absolute;
        background: url(./resimler/kitap-bg.png) left top no-repeat;
        visibility: hidden;
    }

.resimWrap-gorunur:after {
    visibility: visible !important;
}


.resimWrap2 {
    position: absolute;
    bottom: 0;
}

    .resimWrap2:after {
        position: absolute;
        background: url(./resimler/kitap-bg2.png) left top no-repeat;
    }


    .yerlestir {
        margin: 0;
        padding: 0;
    }
.ilhamBolum .urunBlogu, .cikintiBlogu .urunBlogu {
    text-align: center;
}

	    .ilhamBolum .urunBlogu .urunİci, .cikintiBlogu .urunBlogu .urunİci {
        border-radius: 7px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 2px solid transparent;
        -webkit-transition: border .3s;
        transition: border .3s;
		}
	
		.ilhamBolum .cikintiBlogu .urunİci:hover, .cikintiBlogu .urunBlogu .urunİci:hover {
            border-color: #febf00;
        }

        .ilhamBolum .cikintiBlogu .urunİci .p-brand, .cikintiBlogu .urunBlogu .urunİci .p-brand {
            color: #6c6c6c;
        }

        .ilhamBolum .cikintiBlogu .urunİci .yeniFiyat, .cikintiBlogu .urunBlogu .urunİci .yeniFiyat {
            color: #ff7100;
            font-weight: 700;
            font-size: 18px;
        }
	
.ilhamBolum .urunBlogu .urunİci .eskiUcret, .cikintiBlogu .urunBlogu .urunİci .eskiUcret {
    color: #a8a8a8;
    text-decoration: line-through;
}

.child-slider, .client-logos, .cikintiBlogu {
    background-color: #fff;
}

.prod {
    height: 230px;
    position: relative;
}
.edebiyat {
    border-left: 4px solid #febf00;
}
.edebiyat-yazi{
    color: #febf00 !important;
    float: left;
}
.bas-asagi {
    font-weight: 300;
    color: #ddd96f;
    text-transform: uppercase;
    word-break: break-all;
}
.felsefe {
    border-left: 4px solid #ff3d37;
}

.felsefe-yazi{
    color: #ff3d37 !important;
    float: left;
}
.egitim {
    border-left: 4px solid #4272a2;
}
.egitim-yazi{
    color: #4272a2 !important;
    float: left;
}
.sekil{
    width: 95%;
    margin-left: 20px;
}
.cikintiBlogu {
    padding-bottom: 20px;
}

.cikintiBlogu .rating {
    margin-left: 7px;
    margin-top: -10px;
}

.urunİci, .cikintiBlogu .urunİci {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.cikintiBlogu .urunBlogu {
    margin-top: 10px;
}

.cikintiBlogu .cikintiIcerigi {
    border-top: 1px solid #f6f6f6;
    margin-top: 1px;
}
.mobsag a, .mobsol {
    font-weight: 300;
    text-align: left;
}


  .dropdown-child {
    display: none !important;
    color:goldenrod;
  }
  .dropdown-child a {
    color: red !important;
    padding: 20px !important;;
    text-decoration: none !important;
    display: block !important;
  }
  .dropdown:hover .dropdown-child {
    display: block !important;
  }
  .kampanyalarSayfasiFoto{
    border: 2px solid;
    border-color: tomato;
    border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 10px 20px #ffbd27 inset;
 }
 .kampanyalarSayfasiFoto:hover{
    opacity: 0.5;  /* blur */ 
    border-color: #ffbd27;
    transition: 500ms;
 }

 .eklendi{
    display: block;
    width: 153px;
    color: #fff;
    background-color: #2965ff !important;
    font-size: 13px;
    text-align: center;
    margin: 5px auto;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: 700;
   
 }
 .eklenmeden{
    display: block;
    width: 153px;
    color: #fff;
    background-color: #5cb85c !important;
    font-size: 13px;
    text-align: center;
    margin: 5px auto;
    transition: all .3s;
    font-weight: 700;
 }